{{ define "main" }}
<section class="seccion">
  <h1>{{ .Title }}</h1>
  {{ with .Description }}<p class="descripcion">{{ . }}</p>{{ end }}
  {{ range .Pages.ByDate.Reverse }}
    <article class="articulo-resumen">
      <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
      <div class="meta">
        {{ if .Params.autor }}Por {{ .Params.autor }} | {{ end }}
        {{ partial "fecha.html" . }}
      </div>
      <p>{{ if .Params.summary }}{{ .Params.summary }}{{ else }}{{ .Summary | plainify | truncate 200 }}{{ end }}</p>
    </article>
  {{ end }}
</section>
{{ end }}
